body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

.box {
  padding: 10px;
  border: 1px solid #000000; /* Add a border around each box */
  /* background-color: rgb(156, 161, 162); */
  /* background-color: rgb(156, 161, 162); */
  background-color: #2f2f2f;
  /* 2f2f2f */
  
  border-radius: 5px; /* Optional: Add rounded corners for a cleaner look */
  margin-bottom: 10px; /* Add space between boxes */
  
    background: #2f2f2f;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #c4c4c4;
    box-shadow: inset 1px 1px 5px #000, inset -1px -1px 5px rgb(74, 74, 74),  1px 1px 5px #2b2b2b, -1px -1px 5px #424242;
    transition: all 0.1s;

}

.button-c {
  background: #1f1f1f;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  color: #c4c4c4;
  box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6fb8, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #424242;
  transition: all 0.1s;
  margin-left: 10px;
}
.button-c:active {
  box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
}
.button-d {
  background: #1f1f1f;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  color: #c4c4c4;
  box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6fb8, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #424242;
  transition: all 0.1s;
  margin-left: 10px;
}
/* 
body {
  background: #2f2f2f;
} */

.button-d:active {
  box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
}
.button-d::-moz-focus-inner {
border: 0;
}
.button-d.regenerate-animation {
  animation: active 1.9s alternate infinite;
}
  
.button-d:active:not([disabled]) {
box-shadow: var(--button-c-shadow-active);
}

.button-d:active:not([disabled]) > * {
transform: scale(.95);
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  height: 60px;
  border: 2px solid #000;
  text-align: left;
  outline: none;
  font-size: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');

:root {
 --background: #f8f8f8; /* Light Background*/
 --button-gradient: #0f0f0f 0%, #f8f8f8 80%, #101010 100%; /* Dark Gradient */
 --button-border: #050505; /* Light Border */
 --button-text: #000000; /* Dark Text */

 --highlight-bottom: 0 4px 3px 1px #2d2d2d;
 --shadow-bottom: 0 6px 8px #1f1f1f;
 --shadow-top: 0 -4px 4px #2d2d2d;
 --highlight-top: 0 -6px 4px #353535;
 --shadow-inset: inset 0 0 30px 0 #2d2d2d;
 --shadow-inset-hover: inset 0 0 3px 3px #2d2d2d;
 --shadow-inset-focus: inset 0 0 10px 0px rgba(107, 185, 240, .6);
 --shadow-inset-active: inset 0 0 5px 3px #1a1a1a, inset 0 0 30px #1a1a1a;

 --button-shadow-base: var(--highlight-bottom), var(--shadow-bottom), var(--shadow-top), var(--highlight-top);
 --button-shadow-default: var(--button-shadow-base), var(--shadow-inset);
 --button-shadow-hover: var(--button-shadow-base), var(--shadow-inset-hover);
 --button-shadow-focus: var(--button-shadow-base), var(--shadow-inset-focus);
 --button-shadow-active: var(--button-shadow-base), var(--shadow-inset-active);
} 
:root {
 --background: #f8f8f8;
 --button-gradient: #D8D9DB 0%, #fff 80%, #FDFDFD 100%;
 --button-border: #8F9092;
 --button-text: #606060;

 --highlight-bottom: 0 4px 3px 1px #FCFCFC;
 --shadow-bottom: 0 6px 8px #D6D7D9;
 --shadow-top: 0 -4px 4px #CECFD1;
 --highlight-top: 0 -6px 4px #FEFEFE;
 --shadow-inset: inset 0 0 3px 0 #CECFD1;
 --shadow-inset-hover: inset 0 0 3px 3px #CECFD1;
 --shadow-inset-focus: inset 0 0 10px 2px rgba(100, 0, 250, 0.6);
 --shadow-inset-active: inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
 /* --shadow-c-inset-hover: inset 0 0 3px 3px #0b46bb; */
 --shadow-c-inset-hover: inset 0 0 7px 7px #153dad;

 --button-shadow-base: var(--highlight-bottom), var(--shadow-bottom), var(--shadow-top), var(--highlight-top);
 --button-shadow-default: var(--button-shadow-base), var(--shadow-inset);
 --button-shadow-hover: var(--button-shadow-base), var(--shadow-inset-hover);
 --button-shadow-focus: var(--button-shadow-base), var(--shadow-inset-focus);
 --button-shadow-active: var(--button-shadow-base), var(--shadow-inset-active);
 --button-c-shadow-active: var(--shadow-inset-focus);
 --button-c-shadow-base: 1px 1px 5px #000, -1px -1px 5px #6f6f6fb8, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #424242;
 --button-c-shadow-hover: var(--button-c-shadow-base), var(--shadow-c-inset-hover);
 --button-c-shadow-focus: var(--button-c-shadow-base), var(--shadow-inset-focus);
}

label {float: left; width: 13em;}
input[type="range"] {max-width: 25em; min-width: 5em; width: auto; background: #1f1f1f;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 4px;
  color: #c4c4c4;
  box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6fb8, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #424242;
  transition: all 0.1s;
 }

input[type="number"] {width: 6.5em;background: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 4px;
  color: #000000;
  box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #6f6f6fb8, 1px 1px 5px #2b2b2b, -1px -1px 5px #424242;
  transition: all 0.1s;}
input[type="text"] {float: right; width: auto;  background: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  color: #000000;
  box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px #6f6f6fb8, 1px 1px 5px #2b2b2b, -1px -1px 5px #424242;
  transition: all 0.1s;
 }
@keyframes active {
 from {
   box-shadow: var(--button-c-shadow-focus);
 }
 to {
   box-shadow: var(--button-c-shadow-hover);
 }
}

*,
*:before,
*:after {
 box-sizing: border-box;
}
select {
  background: #ffffff;
  border: none;
  padding: 0.714em 1.428em; /* Convert pixel values to em units (10px -> 0.714em, 20px -> 1.428em) */
  font-size: 14px; /* Keep font size as it is */
  border-radius: 0.285em; /* Convert pixel value to em units (4px -> 0.285em) */
  color: #c4c4c4;
  box-shadow: inset 0.214em 0.214em 0.357em #000, inset -0.214em -0.214em 0.357em #6f6f6fb8, 0.071em 0.071em 0.357em #2b2b2b, -0.071em -0.071em 0.357em #424242;
  transition: all 0.1s;
}
.circle {
  position: absolute;
  pointer-events: none;
  display: none;
  width: 64px;
  height: 64px;
  top: 32px;
  left: 32px;
  transform: translate(-50%, -50%);
  background-color: red; 
  border-color: black; 
  border-radius: 3px;
  z-index: 9999;
  opacity: 0.1;
}

.circle_slider {
  position: absolute;
  pointer-events: none;
  display: none;
  width: 64px;
  height: 64px;
  top: 32px;
  left: 32px;
  transform: translate(-50%, -50%);
  background-color: red;  /* Set background color to red */
  z-index: 9999;
  opacity: 0.1
}
.panel {
  /* padding: 0 18px;
  background-color: rgb(126, 4, 4); */
  margin-left: 10px;
  margin-top: 2px;
  max-height: 0;
  overflow: hidden;
  margin-bottom: auto;
  /* transition: max-height 0.1s ease-out; */
}

table {
  margin: 0 auto;
  border-spacing: 0; /* Spacing between table cells */
}

/* Style table header (first row) */
th {
  padding: 10px;
  color: white;
  text-align: center;
  /* background-color: #f2f2f2; */
}

/* Style table data cells (country names) */
td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  cursor: pointer;
  /* padding: 8px; */
  background: none;
  font-size: 14px;
  padding: 0.3em 1em;
  /* border-radius: 4px; */
  color: #ffffff;
  box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
  transition: all 0.1s;
  margin-left: 10px;
  width: 33%;
  text-align: center;
  height:40px;
  
}

.clickedcell {
  background: #375fc3;
  box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;

}
#democontainer {
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  #democontainer {
    flex-direction: column !important;
  }
}
#edit-containe{
  width: 50%;
}
@media only screen and (max-width: 768px) {
  #edit-container {
    width: 100% !important;
  }
}
#demoImageCotainer{
  width: 50%;
}
@media only screen and (max-width: 768px) {
  #demoImageCotainer {
    width: 100% !important;
  }
}
#beforeStarContainer{
  margin-top: 50%;
}
@media only screen and (max-width: 768px) {
  #beforeStarContainer {
    margin-top: 20px !important;
  }
}
/* #scrollPopup::after {
  content: "scroll up or down"; 
} */
@media only screen and (max-width: 768px) {
  #scrollPopup {
    visibility: hidden !important; /* Change text for mobile devices */
}
  #scrollPopup::before {
      content:  '\2194'"    Swipe left or right" !important; 
      visibility: visible !important; 
      /* left: 100% !important; */
      transform: translate(25%, 0%) !important;
      border-radius: 8px !important;
      padding: 20px !important;
      white-space: nowrap; /* Prevent line breaks */
    }
}
/* .container{
  position: relative;
}
.container > img{
  position: absolute;
  top:0;
  left:0;
} */
/* #image-contaier{
  position: relative;
  height: 512px;
} */
#image-container {
  position: relative;
  display: flex;
}
#image-container-gen-image{
  /* max-width:512px;
  max-height:512px; */
  /* width: auto;
  height: auto; */
  flex:1
}
#Layer1Image {
  position: absolute;
  max-height: 100%;
  width: auto;
  top: 0; 
  left:  calc(200 / 512 * 100%); 
  flex:1;
  }
#Layer2Image {
  position: absolute;
  max-height: 100%; 
  width: auto;
  top: 0; 
  left: 0;
  flex:1;
}
#Layer3Image {
  position: absolute;
  max-height: 100%; 
  width: auto;
  top: 0; 
  left: calc(360 / 512 * 100%); 
  flex: 1;
}

.popup {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white background */
  color: black;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(8px); /* Apply blur effect to the background */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.7s ease; /* Smooth transition for opacity change */
  z-index: -100;
}


.popup.active {
  opacity: 1;
  z-index: 100;
}

.fa-long-arrow-alt-up {
  margin-right: 10px;
}

/* Animation keyframes for flashing effect */
/* @keyframes flash {
  0%, 20%, 50%, 80%, 100% {
      opacity: 0;
  }
  10%, 30%, 40%, 60%, 70% {
      opacity: 1;
  }
} */